
<br><hr>
<table border="1">



{{#each jj.issues}}
   
   <tr>
    <td>{{this.fields.assignee.displayName}}</td>
    <td>{{this.fields.status.name}}</td>
    <td>{{this.fields.sammary}}</td>
</tr>
   
   

{{/each}}

</table>


